@use "../../../mixins" as *;
section.wrapper {
  width: 100%;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;

  div.form {
    width: 100%;
    max-width: 1050px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    border-radius: 10px;

    .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;

      .left {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;

        .titleInput {
          max-height: 100px;
        }

        textarea {
          height: 180px;
          resize: none;
        }
        .imageUpload {
          width: 50%;
        }
      }

      .right {
        line-break: anywhere;

        img {
          max-height: 315px;
          object-fit: cover;
        }
      }
    }
  }
}

@include xl {
  section.wrapper {
    div.form {
      max-width: 900px;
    }
  }
}

@include lg {
  section.wrapper {
    div.form {
      max-width: 700px;
      place-items: start;
      .wrap {
        grid-template-columns: max-content;
        row-gap: 30px;
        max-width: 300px;
      }
    }
  }
}

@include md {
  section.wrapper {
    div.form {
      max-width: 300px;
      .wrap {
        max-width: 200px;
        .left {
          width: 50%;
        }
        .right {
          width: 50%;
        }
      }
    }
  }
}
