@use "../../../mixins" as *;

@include lg {
  .hideNavItems {
    display: none;
  }
}

.sidenav-container {
  width: 100%;
  position: fixed;
  z-index: 11;
  .mat-sidenav {
    .mat-mdc-list-base {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;
      place-items: center;
    }
  }
  .mat-sidenav-content {
    .mat-toolbar {
      .logo {
        cursor: pointer;
        user-select: none;
      }
      div {
        list-style: none;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          cursor: pointer;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      button {
        margin: 0px 20px;
      }
    }
  }
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

@include md {
  .hideNavItems {
    display: none !important;
  }
}
