<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar color="primary" routerLink="/">Menu</mat-toolbar>
    <mat-nav-list>
      <a
        color="primary"
        mat-raised-button
        routerLink="/"
        (click)="drawer.toggle()"
        >Home</a
      >
      <a
        color="primary"
        mat-raised-button
        routerLink="/sign_up"
        *ngIf="!isAuthed"
        (click)="drawer.toggle()"
        >Sign up</a
      >
      <a
        color="primary"
        mat-raised-button
        routerLink="/sign_in"
        *ngIf="!isAuthed"
        (click)="drawer.toggle()"
        >Sign in</a
      >
      <a
        color="primary"
        mat-raised-button
        routerLink="/create_post"
        *ngIf="isAuthed"
        (click)="drawer.toggle()"
        >Create post</a
      >
      <a
        color="primary"
        mat-raised-button
        routerLink="/settings"
        (click)="drawer.toggle()"
        *ngIf="isAuthed"
        >Settings</a
      >
      <a
        color="primary"
        mat-raised-button
        mat-raised-button
        routerLink="/dashboard"
        *ngIf="isAuthed && isAdmin"
        (click)="drawer.toggle()"
        >Dashboard</a
      >
      <button
        color="warn"
        mat-raised-button
        routerLink="/"
        (click)="logOut()"
        *ngIf="isAuthed"
      >
        Log out
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span routerLink="/" class="logo"
        ><mat-icon>eco</mat-icon> Project_angular</span
      >
      <div class="spacer"></div>
      <button class="hideNavItems" mat-raised-button routerLink="/">
        Home
      </button>
      <div *ngIf="isAuthed && isAdmin">
        <button class="hideNavItems" mat-raised-button routerLink="/dashboard">
          dashboard
        </button>
      </div>
      <button
        class="hideNavItems"
        mat-raised-button
        routerLink="/sign_in"
        *ngIf="!isAuthed"
      >
        Sign in
      </button>
      <button
        class="hideNavItems"
        mat-raised-button
        routerLink="/create_post"
        *ngIf="isAuthed"
        color="warn"
      >
        Create Post
      </button>
      <div
        mat-raised-button
        *ngIf="isAuthed && (fireAuthState | async) as user"
      >
        <div class="hideNavItems" (click)="navigateTo('/settings')">
          <img src="{{ user.photoURL }}" alt="i={{ user.displayName }} photo" />
          <a> {{ user.displayName }}</a>
        </div>
      </div>

      <button
        class="hideNavItems"
        mat-raised-button
        routerLink="/sign_up"
        *ngIf="!isAuthed"
      >
        Sign up
      </button>
      <button
        class="hideNavItems"
        mat-raised-button
        routerLink="/"
        (click)="logOut()"
        *ngIf="isAuthed"
      >
        Log out
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
