@use "../../../mixins" as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;

  .actions {
    @include flex-center(25px);
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 25px;

    .card {
      max-width: 600px;
      .card-title {
        font-size: 2rem;
        font-weight: bold;
        line-height: 2rem;
      }
      .card-header p {
        margin: 0px;
      }
      .actions {
        flex-direction: column;
        gap: 5px;
      }
      img {
        height: 250px;
        object-fit: cover;
      }
      .react {
        user-select: none;
        span {
          @include flex-center(5px, "no-wrap");
          padding: 5px;
          &.react-active {
            transition: 0.5s;
            &:hover {
              color: red;
            }
          }
        }

        .react-active {
          cursor: pointer;
        }

        .reacted {
          color: red;
        }
      }
    }
  }
}

@include sm {
  .wrapper {
    .posts {
      .card {
        max-width: 400px;
        .btn {
          font-size: 0.8rem;
        }
        .card-title {
          font-size: 1.2rem;
          font-weight: bold;
          line-height: 1.2rem;
        }
        .card-text {
          font-size: 0.6rem;
        }
        img {
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }
}
