<section class="wrapper">
  <section class="actions">
    <button class="btn btn-primary" (click)="updateSort(true)">
      Sort by old to new
    </button>
    <button class="btn btn-primary" (click)="updateSort(false)">
      Sort by new to old
    </button>
  </section>
  <section class="posts">
    <article *ngFor="let post of posts">
      <div class="card text-center">
        <div class="card-header">
          <p>Author: {{ post.creatorDisplayName || "No name provided" }}</p>
        </div>
        <img [src]="post.imageURL" class="card-img-top" alt="post image" />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.description }}</p>
          <p class="react">
            <span
              (click)="toggleReact(post)"
              [ngClass]="{
                'react-active': isAuthed,
                reacted: getUserReactStatus(post)
              }"
              ><mat-icon>favorite</mat-icon>{{ post.reactsIds.length }}</span
            >
          </p>
          <section class="actions">
            <a routerLink="/post/{{ post.id }}" class="btn btn-primary"
              >Open full post</a
            >
            <button
              *ngIf="isPostAuthor(post)"
              (click)="deletePost(post)"
              class="btn btn-danger"
            >
              Delete post
            </button>
          </section>
        </div>
        <div class="card-footer text-body-secondary">
          {{ post.createdAt | date : "medium" }}
        </div>
      </div>
    </article>
  </section>
</section>

<mat-progress-spinner
  mode="indeterminate"
  style="margin: 0px auto"
  diameter="70"
  *ngIf="posts.length === 0"
></mat-progress-spinner>
