<section class="wrapper" *ngIf="post">
  <section class="post">
    <div class="card text-center">
      <div class="card-header">
        <p>{{ post.creatorDisplayName }}</p>
      </div>
      <img [src]="post.imageURL" class="card-img-top" alt="post image" />
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description }}</p>
        <p class="react">
          <span
            (click)="toggleReact(post)"
            [ngClass]="{
              'react-active': isAuthed,
              reacted: getUserReactStatus(post)
            }"
            ><mat-icon>favorite</mat-icon>{{ post.reactsIds.length }}</span
          >
        </p>
        <button
          *ngIf="isPostAuthor()"
          (click)="deletePost()"
          class="btn btn-danger"
        >
          Delete post
        </button>
      </div>
      <div class="card-footer text-body-secondary">
        {{ post.createdAt | date : "medium" }}
      </div>
    </div>
  </section>
  <section class="comments">
    <aside class="top">
      <h3>Comment Section</h3>
      <div class="comment" *ngFor="let comment of post.comments; let i = index">
        <p class="form-text">
          <span
            ><span [ngClass]="{ author: isAuthor(comment, false) }">{{
              comment.displayName
            }}</span>
            | {{ comment.createdAt | date : "medium" }}</span
          >
          <span
            class="action"
            (click)="deleteComment(i)"
            *ngIf="isAuthor(comment)"
            ><i class="fa-solid fa-trash"></i
          ></span>
        </p>
        <p>{{ comment.comment }}</p>
      </div>
    </aside>
    <aside class="bottom">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Enter comment"
          (keydown.enter)="sendComment()"
          [(ngModel)]="comment"
        />
        <span class="input-group-text" (click)="sendComment()">
          <mat-icon>send</mat-icon>
        </span>
      </div>
    </aside>
  </section>
</section>
<mat-progress-spinner
  mode="indeterminate"
  style="margin: 0px auto"
  diameter="70"
  *ngIf="!post"
></mat-progress-spinner>
