.wrapper {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  place-items: center;

  .post {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      .card-header p {
        margin: 0px;
      }
      img {
        height: 400px;
        object-fit: cover;
      }
      .react {
        user-select: none;
        span {
          padding: 5px;
          &.react-active {
            transition: 0.5s;
            &:hover {
              color: red;
            }
          }
        }

        .react-active {
          cursor: pointer;
        }

        .reacted {
          color: red;
        }
      }
    }
  }

  .comments {
    width: 100%;
    max-width: 1050px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;

    .top {
      max-height: 500px;
      overflow-y: auto;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;

      .comment {
        border-radius: 8px;
        border: 1px solid #dee2e6;
        padding: 8px;
        background-color: #f1f2f4;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;

        p {
          line-break: anywhere;
          margin: 0px;
        }

        p.form-text {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span.action {
            cursor: pointer;
            padding: 2.5px;
            transition: 0.5s;
            &:hover {
              color: red;
            }
          }
        }

        .author {
          color: red;
        }
      }
    }

    .bottom {
      .input-group {
        span {
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
