<section class="wrapper" *ngIf="post">
  <h1>{{ post.title }}</h1>
  <section class="posts">
    <article class="post">
      <mat-card class="card">
        <mat-card-header>
          <img mat-card-image [src]="post.creatorImage" class="creatorImage" />
          <mat-card-subtitle
            >{{ post.createdAt | date : "medium" }}, createdby
            {{ post.creatorDisplayName }}</mat-card-subtitle
          >
          <button mat-fab color="basic"><mat-icon>clear</mat-icon></button>
        </mat-card-header>
        <img mat-card-image [src]="post.imageURL" />
        <p class="react">
          <span
            (click)="toggleReact(post)"
            [ngClass]="{
              'react-active': isAuthed,
              reacted: getUserReactStatus(post)
            }"
          >
            <mat-icon>favorite</mat-icon> </span
          >{{ post.reactsIds.length }}
        </p>
        <mat-card-content>{{ post.description }}</mat-card-content>
        <div class="comments">
          <mat-card-footer>
            <aside class="top"></aside>
            <aside class="bottom">
              <mat-form-field>
                <mat-label>Leave a comment</mat-label>
                <textarea
                  class="com"
                  matInput
                  (keydown.enter)="sendComment()"
                  [(ngModel)]="comment"
                ></textarea>
                <mat-icon (click)="sendComment()">send</mat-icon>
              </mat-form-field>
            </aside>
          </mat-card-footer>
        </div>
      </mat-card>
    </article>
  </section>
</section>

<mat-progress-spinner
  mode="indeterminate"
  style="margin: 0px auto"
  diameter="70"
  *ngIf="!post"
></mat-progress-spinner>
