<mat-icon class="chat" (click)="toggle()">message</mat-icon>
<div class="wrapper" *ngIf="hide">
  <section class="header">
    <div>
      <h1>Global Chat</h1>
      <mat-icon (click)="toggle()" style="cursor: pointer">clear</mat-icon>
    </div>
  </section>
  <section class="comments">
    <aside class="top" *ngFor="let comment of comments">
      <div class="comment">
        <p class="form-text">
          <span
            ><span>{{ comment.creatorDisplayName }}</span> |
            {{ comment.createdAt | date : "medium" }}</span
          >
          <span
            class="action"
            *ngIf="isAuthor(comment)"
            (click)="deleteComment(comment)"
            ><mat-icon>delete</mat-icon></span
          >
        </p>
        <p>{{ comment.comments }}</p>
      </div>
    </aside>
  </section>
  <aside class="bottom">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter comment"
        [(ngModel)]="comment"
        (keydown.enter)="createComment()"
      />
      <span class="input-group-text" (click)="createComment()">
        <mat-icon>send</mat-icon>
      </span>
    </div>
  </aside>
</div>
