.wrapper {
  height: 100%;
  width: 20%;
  background-color: gray;
  position: fixed;
  .header {
    display: grid;
    place-items: center;
  }
  .comments {
    width: 100%;
    max-width: 1050px;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
    max-height: 750px;
    overflow-y: auto;
    .top {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;

      .comment {
        border-radius: 8px;
        border: 1px solid #dee2e6;
        padding: 8px;
        background-color: #f1f2f4;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;

        p {
          line-break: anywhere;
          margin: 0px;
        }

        p.form-text {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span.action {
            cursor: pointer;
            padding: 2.5px;
            transition: 0.5s;
            &:hover {
              color: red;
            }
          }
        }

        .author {
          color: red;
        }
      }
    }

    .bottom {
      .input-group {
        span {
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}

.hide {
  display: none;
}
