<div class="wrapper">
  <section class="header">
    <h1>Global Chat</h1>
  </section>
  <section class="comments">
    <aside class="top" *ngFor="let comment of comments; let i = index">
      <div class="comment">
        <p class="form-text">
          <span
            ><span>{{ comment.creatorDisplayName }}</span> |
            {{ comment.createdAt | date : "medium" }}</span
          >
          <span
            class="action"
            *ngIf="isAuthor(comment)"
            (click)="deleteComment(i)"
            ><mat-icon>delete</mat-icon></span
          >
        </p>
        <p>{{ comment.comments }}</p>
      </div>
    </aside>
  </section>
  <aside class="bottom">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter comment"
        [(ngModel)]="comment"
        (keydown.enter)="createComment()"
      />
      <span class="input-group-text" (click)="createComment()">
        <mat-icon>send</mat-icon>
      </span>
    </div>
  </aside>
</div>
