<div class="wrapper">
  <section class="header">
    <h1>Global Chat</h1>
  </section>
  <section class="comments">
    <aside class="top" *ngFor="let comment of comments">
      <div class="comment">
        <p class="form-text">
          <span
            ><span>{{ comment.creatorDisplayName }}</span> |
            {{ comment.createdAt | date : "medium" }}</span
          >
          <span class="action"><i class="fa-solid fa-trash"></i></span>
        </p>
        <p>{{ comment.comments }}</p>
      </div>
    </aside>
  </section>
  <aside class="bottom">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter comment"
        [(ngModel)]="comment"
        (keydown.enter)="createComment()"
      />
      <button mat-button (click)="updateSort(false)">SORT CHAT</button>
      <span class="input-group-text" (click)="createComment()">
        <mat-icon>send</mat-icon>
      </span>
    </div>
  </aside>
</div>
